.main-container {
  position: relative;
}

.main-content {
  opacity: 0.9;
  position: absolute;
  background-color: #1f213a;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 50rem;
  top: 10%;
  left: 25%;
}

.temp-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.highlight-content {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  display: grid;
  gap: 1.5rem;
}

.header {
  color: rgb(226 232 240);
  font-size: 1.9rem;
  line-height: 2rem;
  grid-column: span 2;
}
